@model Container.Models.containerProcessor

@{
    ViewBag.Title = "Container Processor";
    Layout = "~/Views/Shared/Master.cshtml";
}


<div class="content-body"> 
    <h2>Container Processor</h2>

    @using (Html.BeginForm())
    {
        @Items.Item(@Html.ValidationMessageFor(m => m.container1.capacity), @Html.LabelFor(m => m.container1.capacity), @Html.TextBoxFor(m => m.container1.capacity, new { @placeholder = "Enter a number greater than 0" }))                
        @Items.Item(@Html.ValidationMessageFor(m => m.container2.capacity), @Html.LabelFor(m => m.container2.capacity), @Html.TextBoxFor(m => m.container2.capacity, new { @placeholder = "Enter a number greater than 0" }))                
        @Items.Item(@Html.ValidationMessageFor(m => m.gallonsToFind), @Html.LabelFor(m => m.gallonsToFind), @Html.TextBoxFor(m => m.gallonsToFind, new { @placeholder = "Enter a number greater than 0" }))                
 
        @Items.ItemSave("", "Submit", "modal-button modal-save-button") 
   }
</div>                
